body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: black;
}

.App {
  text-align: center;
  position: relative;
  padding: 0vh 10% 0vh 10%;
  background: black;
  width: 80%;
  height: 100vh;
}

.buttons {
  display: flex;
  justify-content: center;
  padding: 10px 0px 10px 0px;
  background: black;
  width: 80%;
  position: fixed;
  margin: 0px auto;
}

.button {
  background: transparent;
  font-size: 3rem;
  color: hsl(39, 100%, 30%);
}

.button:hover {
  color: white;
  transition: 0.5s ease;
}

#buttons_tweet {
  padding: 7px 7px 0px 7px;
  margin-right: 5px;
  border-radius: 100%;
}

#buttons_tweet a {
  text-decoration: none;
  color: hsl(39, 100%, 30%);
}

#buttons_tweet a:hover {
  color: white;
  transition: 0.5s ease;
}

#new-quote {
  padding: 7px 7px 0px 7px;
  margin-left: 5px;
  border-radius: 100%;
  cursor: pointer;
}

.quotes_container {
  background: black;
  display: block;
  padding: 85px 10px 50px 10px;
  font-family: "Averia Libre", monospace;
}

.quotes {
  background: black;
  padding: 10px;
  font-size: 1.2rem;
}
.quotes_text {
  color: hsl(39, 100%, 30%);
}

/* Alters Text Hightlight Background */
.quotes_text::selection {
  /* opacity: 0.1; */
  background: transparent; /* WebKit/Blink Browsers */
}
.quotes_text::-moz-selection {
  background: transparent; /* Gecko Browsers */
}
.quotes_author {
  color: hsl(39, 100%, 30%);

  padding-top: 25px;
}

.quotes_author::selection {
  background: transparent; /* WebKit/Blink Browsers */
}
.quotes_author::-moz-selection {
  background: transparent; /* WebKit/Blink Browsers */
}

@media(min-width: 900px){
.App {
  width: 40%;
  margin: 0% 20% 0% 20%;
}

.buttons {
  width: 40%;
}

}
